In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0,10,(50,3)),columns=['One','Two','Three'])
print(df.head())

   One  Two  Three
0    4    6      5
1    7    7      7
2    2    6      5
3    3    9      0
4    1    2      1

In [3]:
print('Size of dataframe',np.size(df))
nm = int(np.size(df)*0.1)
print('10% values of given dataframe : ',nm)

Size of dataframe 150
10% values of given dataframe :  15

In [8]:
for i in range(nm):
    icol = np.random.choice(df.columns)
    irow = np.random.choice(df.index)
    while np.isnan(df.loc[irow,icol]):
        icol = np.random.choice(df.columns)
        irow = np.random.choice(df.index)
    df.loc[irow,icol] = np.nan
print(df.head())
print('Number of null values : ', np.isnan(df).sum().sum())

   One  Two  Three
0  1.0  NaN    0.0
1  6.0  0.0    6.0
2  0.0  4.0    2.0
3  7.0  7.0    4.0
4  9.0  8.0    7.0
Number of null values :  15

In [10]:
temp = df.copy()
temp.dropna(thresh = df.shape[0] - 4,axis=1,inplace = True)
print(temp.head())

   One  Three
0  1.0    0.0
1  6.0    6.0
2  0.0    2.0
3  7.0    4.0
4  9.0    7.0

In [22]:
temp1 = df.copy()
print(temp1.drop(index = temp1.sum(axis=1).idxmax(),axis=0).reset_index().drop(columns = 'index'))

    One  Two  Three
0   1.0  NaN    0.0
1   6.0  0.0    6.0
2   0.0  4.0    2.0
3   7.0  7.0    4.0
4   7.0  4.0    7.0
5   NaN  9.0    4.0
6   5.0  6.0    7.0
7   8.0  2.0    5.0
8   6.0  9.0    6.0
9   4.0  2.0    2.0
10  6.0  NaN    0.0
11  2.0  2.0    2.0
12  3.0  1.0    0.0
13  3.0  7.0    NaN
14  0.0  NaN    0.0
15  4.0  8.0    NaN
16  1.0  4.0    1.0
17  3.0  2.0    8.0
18  7.0  2.0    NaN
19  2.0  1.0    2.0
20  9.0  7.0    6.0
21  6.0  2.0    1.0
22  5.0  6.0    0.0
23  9.0  8.0    NaN
24  0.0  0.0    7.0
25  8.0  NaN    1.0
26  3.0  1.0    1.0
27  NaN  5.0    2.0
28  3.0  7.0    2.0
29  NaN  8.0    9.0
30  7.0  9.0    5.0
31  8.0  8.0    0.0
32  5.0  4.0    4.0
33  5.0  NaN    2.0
34  3.0  2.0    9.0
35  2.0  1.0    0.0
36  0.0  5.0    9.0
37  2.0  2.0    1.0
38  9.0  3.0    0.0
39  0.0  9.0    2.0
40  8.0  4.0    6.0
41  0.0  1.0    5.0
42  7.0  9.0    0.0
43  3.0  8.0    2.0
44  NaN  7.0    2.0
45  0.0  NaN    6.0
46  0.0  NaN    0.0
47  1.0  4.0    5.0
48  8.0  0.0    5.0

In [28]:
temp2 = df.copy()
print(temp2.head())
temp2.sort_values(by = 'One',axis = 0,inplace = True)
print(temp2)

   One  Two  Three
0  1.0  NaN    0.0
1  6.0  0.0    6.0
2  0.0  4.0    2.0
3  7.0  7.0    4.0
4  9.0  8.0    7.0
    One  Two  Three
37  0.0  5.0    9.0
47  0.0  NaN    0.0
2   0.0  4.0    2.0
46  0.0  NaN    6.0
15  0.0  NaN    0.0
42  0.0  1.0    5.0
40  0.0  9.0    2.0
25  0.0  0.0    7.0
48  1.0  4.0    5.0
0   1.0  NaN    0.0
17  1.0  4.0    1.0
36  2.0  1.0    0.0
12  2.0  2.0    2.0
38  2.0  2.0    1.0
20  2.0  1.0    2.0
29  3.0  7.0    2.0
35  3.0  2.0    9.0
13  3.0  1.0    0.0
14  3.0  7.0    NaN
44  3.0  8.0    2.0
18  3.0  2.0    8.0
27  3.0  1.0    1.0
16  4.0  8.0    NaN
10  4.0  2.0    2.0
34  5.0  NaN    2.0
33  5.0  4.0    4.0
23  5.0  6.0    0.0
7   5.0  6.0    7.0
22  6.0  2.0    1.0
1   6.0  0.0    6.0
11  6.0  NaN    0.0
9   6.0  9.0    6.0
31  7.0  9.0    5.0
19  7.0  2.0    NaN
5   7.0  4.0    7.0
43  7.0  9.0    0.0
3   7.0  7.0    4.0
49  8.0  0.0    5.0
32  8.0  8.0    0.0
8   8.0  2.0    5.0
26  8.0  NaN    1.0
41  8.0  4.0    6.0
24  9.0  8.0    NaN
21  9.0  7.0    6.0
4   9.0  8.0    7.0
39  9.0  3.0    0.0
6   NaN  9.0    4.0
28  NaN  5.0    2.0
30  NaN  8.0    9.0
45  NaN  7.0    2.0

In [29]:
print(temp2.drop_duplicates(['One']))

    One  Two  Three
37  0.0  5.0    9.0
48  1.0  4.0    5.0
36  2.0  1.0    0.0
29  3.0  7.0    2.0
16  4.0  8.0    NaN
34  5.0  NaN    2.0
22  6.0  2.0    1.0
31  7.0  9.0    5.0
49  8.0  0.0    5.0
24  9.0  8.0    NaN
6   NaN  9.0    4.0

In [33]:
df['One'].corr(df['Two'])

0.2774835092531421

In [3]:
temp3 = df.copy()
d = {'One':[-200],'Two':[504],'Three':[300]}
dftemp = pd.DataFrame(d)
temp3 = pd.concat([temp3,dftemp],ignore_index=True)
temp3.tail(5)

    One  Two  Three
46    1    7      8
47    4    1      5
48    3    7      7
49    5    2      0
50 -200  504    300

In [5]:
des = temp3.describe()
print(des)
iqr = des.loc['75%'] - des.loc['25%']
low = des.loc['25%'] - 1.5*iqr
high = des.loc['75%'] + 1.5*iqr
print(iqr,low,high)
for j in temp3.columns: 
    for i in temp3.index:
        if temp3.loc[i,j] < low[j] or temp3.loc[i,j] > high[j]:
            print(temp3.loc[i,j])
            temp3.drop(i,axis=0,inplace= True)
print(temp3.tail(5))

              One         Two       Three
count   51.000000   51.000000   51.000000
mean     0.235294   14.176471   10.137255
std     28.721830   70.010201   41.476750
min   -200.000000    0.000000    0.000000
25%      2.000000    2.000000    2.500000
50%      4.000000    5.000000    5.000000
75%      6.500000    6.000000    6.500000
max      9.000000  504.000000  300.000000
One      4.5
Two      4.0
Three    4.0
dtype: float64 One     -4.75
Two     -4.00
Three   -3.50
dtype: float64 One      13.25
Two      12.00
Three    12.50
dtype: float64
-200
    One  Two  Three
45    3    2      1
46    1    7      8
47    4    1      5
48    3    7      7
49    5    2      0

In [11]:
pd.qcut(df['Two'],5)

0        (3.6, 6.0]
1        (6.0, 7.0]
2        (3.6, 6.0]
3        (7.0, 9.0]
4     (-0.001, 2.0]
5        (2.0, 3.6]
6     (-0.001, 2.0]
7        (3.6, 6.0]
8        (2.0, 3.6]
9        (6.0, 7.0]
10       (7.0, 9.0]
11    (-0.001, 2.0]
12       (3.6, 6.0]
13    (-0.001, 2.0]
14       (3.6, 6.0]
15       (3.6, 6.0]
16    (-0.001, 2.0]
17       (3.6, 6.0]
18    (-0.001, 2.0]
19       (2.0, 3.6]
20       (3.6, 6.0]
21    (-0.001, 2.0]
22       (3.6, 6.0]
23       (3.6, 6.0]
24       (3.6, 6.0]
25       (3.6, 6.0]
26       (6.0, 7.0]
27       (3.6, 6.0]
28    (-0.001, 2.0]
29       (6.0, 7.0]
30       (3.6, 6.0]
31       (7.0, 9.0]
32       (3.6, 6.0]
33       (3.6, 6.0]
34    (-0.001, 2.0]
35       (7.0, 9.0]
36       (3.6, 6.0]
37       (3.6, 6.0]
38       (2.0, 3.6]
39    (-0.001, 2.0]
40    (-0.001, 2.0]
41       (7.0, 9.0]
42       (3.6, 6.0]
43    (-0.001, 2.0]
44    (-0.001, 2.0]
45    (-0.001, 2.0]
46       (6.0, 7.0]
47    (-0.001, 2.0]
48       (6.0, 7.0]
49    (-0.001, 2.0]
Name: Two, dtype: category
Categories (5, interval[float64, right]): [(-0.001, 2.0] < (2.0, 3.6] < (3.6, 6.0] < (6.0, 7.0] < (7.0, 9.0]]